//COLORS
$main-color: #361712;
$second-color: #C8915B;
$additional-color: #4BC379;

//SCREEN SIZES
$small: "576px";
$medium: "768px";
$large: "992px";

@import 'bootstrap/bootstrap';
@import 'header.scss';
@import 'loader.scss';
@import 'recipeForm.scss';
@import 'recipe.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url("../../images/background.jpg");
  background-size: cover;
}

.container{
  max-width: 1350px;
}