$main-color: #361712;
$second-color: #C8915B;
$additional-color: #4BC379;

@import 'bootstrap/bootstrap';
@import 'header.scss';

body{
  background: url("../../images/background.jpg");
  background-size: cover;
}

.container{
  max-width: 1350px;
}