.sort{
  display: flex;
  flex-direction: column;
  margin-top: 1em;

}

.sort__title{
  color: $main-color;
  background: rgba($second-color, 0.5);
  text-align: center;
}

.sort__show{
  width: 10em;
  padding: 0.5em 2em;
  background: $additional-color;
  border: none;
  margin: 1em 0 0 0;
}